td {
    vertical-align: top;
}

.header {
    vertical-align: middle;
}

.code, code {
    font-family: Courier New, Courier, mono, monospace;
    color: #1e90ff;
}

.top {
    text-align: right;
    margin-top: 10px;
    font-size: xx-small;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.tableHeadline {
    font-weight: bold;
}

.tableSubHeadline {
    font-style: italic;
    font-size: small;
}

